body{
    background-color: rgb(159, 190, 218);
}
#do{
    background-color: rgba(0, 252, 34, 0.7);
    padding: 5px;
}
#schedule{
    background-color: rgba(252, 235, 0, 0.7);
    padding: 5px;
}
#delegate{
    background-color: rgba(0, 38, 252, 0.7);
    padding: 5px;
}
#delete{
    background-color: rgba(252, 0, 0, 0.7);
    padding: 5px;
}

.quadrant{
    height: 24vh ;
    margin-bottom: 8px;
    border-radius: 7px;
    padding: 10px;
}

.description{
    color: rgb(255, 255, 255);
    margin-left: 6px;
    font-size: 0.95rem;
}

textarea{
    width: 99%;
    min-height: 80%;
}
